.dropdown {
  position: relative;
}

.dropdown__menu {
  background-color: var(--body-bg);
  border: 1px solid var(--dark-main);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  z-index: 10;
}

.dropdown__menu--stick-left {
  left: 0;
}

.dropdown__menu--stick-right {
  right: 0;
}

.dropdown__menu--hidden {
  display: none;
}

.dropdown__item {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 0.875rem;
  height: 2rem;
  padding: 0 1rem;
}

.dropdown__item--primary:active {
  background-color: var(--primary-main);
}

.dropdown__item--secondary:active {
  background-color: var(--secondary-main);
}

.dropdown__item--error:active {
  background-color: var(--error-main);
}

.dropdown__item--warning:active {
  background-color: var(--warning-main);
}

.dropdown__item--info:active {
  background-color: var(--info-main);
}

.dropdown__item--success:active {
  background-color: var(--success-main);
}

.dropdown__item--light:active {
  background-color: var(--light-main);
}

.dropdown__item--dark:active {
  background-color: var(--dark-main);
}

.dropdown__divider {
  background-color: var(--dark-light);
  border: 0;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
  width: 100%;
}