.loader-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.header {
  align-items: center;
  border-bottom: 0.125rem solid var(--dark-main);
  display: grid;
  grid-template-areas: '. header__back . header__title . header__edit . header__save .';
  grid-template-columns: 1rem 1.5rem 1rem auto auto auto 1rem auto 1rem;
  height: 4rem;
  width: 100%;
}

.header__back {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  grid-area: header__back;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.header__title {
  grid-area: header__title;
}

.header__edit {
  grid-area: header__edit;
}

.header__save {
  grid-area: header__save;
}