hidden = [
  ".config",
  ".next",
  ".swc",
  "package-lock.json"
]
run = "npm run dev"

[env]
NEXT_TELEMETRY_DISABLED = "1"
PATH = "$PATH:/home/runner/$REPL_SLUG/node_modules/.bin"

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 3000
externalPort = 80