.button {
  border: 0;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 0.875rem;
  height: 2rem;
  padding: 0 1rem;
  position: relative;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  user-select: none;
}

.button:disabled {
  background-color: var(--dark-main);
  opacity: 0.8;
}

.button:disabled:hover {
  background-color: var(--dark-main);
}

.button:disabled:active {
  background-color: var(--dark-main);
}

.button--primary {
  background-color: var(--primary-main);
  color: var(--primary-text);
}

.button--primary:hover {
  background-color: var(--primary-dark);
}

.button--primary:active {
  background-color: var(--primary-light);
}

.button--secondary {
  background-color: var(--secondary-main);
  color: var(--secondary-text);
}

.button--secondary:hover {
  background-color: var(--secondary-dark);
}

.button--secondary:active {
  background-color: var(--secondary-light);
}

.button--error {
  background-color: var(--error-main);
  color: var(--error-text);
}

.button--error:hover {
  background-color: var(--error-dark);
}

.button--error:active {
  background-color: var(--error-light);
}

.button--warning {
  background-color: var(--warning-main);
  color: var(--warning-text);
}

.button--warning:hover {
  background-color: var(--warning-dark);
}

.button--warning:active {
  background-color: var(--warning-light);
}

.button--info {
  background-color: var(--info-main);
  color: var(--info-text);
}

.button--info:hover {
  background-color: var(--info-dark);
}

.button--info:active {
  background-color: var(--info-light);
}

.button--success {
  background-color: var(--success-main);
  color: var(--success-text);
}

.button--success:hover {
  background-color: var(--success-dark);
}

.button--success:active {
  background-color: var(--success-light);
}

.button--light {
  background-color: var(--light-main);
  color: var(--light-text);
}

.button--light:hover {
  background-color: var(--light-dark);
}

.button--light:active {
  background-color: var(--light-light);
}

.button--dark {
  background-color: var(--dark-main);
  color: var(--dark-text);
}

.button--dark:hover {
  background-color: var(--dark-dark);
}

.button--dark:active {
  background-color: var(--dark-light);
}

.button__children {}

.button__children--invisible {
  visibility: hidden;
}

.button__loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button__loader--hidden {
  display: none;
}