.button {
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-main);
    border-radius: 0.5rem;
    border: 0;
    color: var(--color-text-dark);
    font-size: 1rem;
    font-family: var(--font-inter);
    transition: background-color 0.2s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: var(--color-primary-hover);
}

.button-primary {
    background-color: var(--color-primary-main);
    color: var(--color-text-dark);
}

.button-primary:hover {
    background-color: var(--color-primary-hover);
}

.button-secondary {
    background-color: var(--color-secondary-main);
    border: 0.0625rem solid var(--color-border);
    color: var(--color-text-light);
}

.button-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.button-danger {
    background-color: #FF004F;
    color: var(--color-text-light);
}

.button-danger:hover {
    background-color: var(--color-danger-hover);
}

@media (min-width: 768px) {
    .button {
        cursor: pointer;
    }
}
