.icon {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-primary-main);
}

.navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--color-background);
    transition: left 0.3s ease-in-out;
}

.navbar.show {
    left: 0;
}

.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.brand {
    display: block;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-secondary-main);
    border-radius: 0.5rem;
    color: var(--color-text-light);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.navbar-item:hover {
    background-color: var(--color-secondary-hover);
}

.navbar-item.active {
    background-color: var(--color-primary-main);
    color: var(--color-text-dark);
}

.navbar-item.active:hover {
    background-color: var(--color-primary-hover);
}

.navbar-item-icon {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 768px) {
    .navbar-toggle,
    .app-bar {
        display: none;
    }

    .navbar {
        width: var(--desktop-navbar-width);
        top: var(--appbar-height);
        left: 0;
        box-shadow: -0.0625rem 0 0 var(--color-border) inset;
    }
}
