.navbar {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: left 0.2s ease-in-out;
}

.navbar.show {
    left: 0;
}

.appbar {
    width: 100%;
    height: var(--appbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.brand {
    display: block;
}

.icon {
    vertical-align: middle;
}

.navbar-nav {
    height: calc(100% - var(--appbar-height));
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    overflow-y: auto;
}

.navbar-item {
    background-color: var(--color-secondary-main);
    color: var(--color-text-light);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

.navbar-item:hover {
    background-color: var(--color-secondary-hover);
}

.navbar-item.active {
    background-color: var(--color-primary-main);
    color: var(--color-text-dark);
}

.navbar-item.active:hover {
    background-color: var(--color-primary-hover);
}

@media (min-width: 768px) {
    .navbar {
        width: var(--desktop-navbar-width);
        height: calc(100% - var(--appbar-height));
        top: var(--appbar-height);
        left: 0;
        box-shadow: -0.0625rem 0 0 var(--color-border) inset;
    }

    .appbar {
        display: none;
    }
}
