*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #7761f3;
  --primary-main: #6944e7;
  --primary-dark: #5b36cc;
  --primary-text: #fafafa;
  --secondary-light: #ffcf46;
  --secondary-main: #ffb91b;
  --secondary-dark: #ff9a0c;
  --secondary-text: #121212;
  --error-light: #fc776d;
  --error-main: #f44336;
  --error-dark: #e22d20;
  --error-text: #fafafa;
  --warning-light: #ffbe4a;
  --warning-main: #ffa726;
  --warning-dark: #f98007;
  --warning-text: #fafafa;
  --info-light: #7ed2fb;
  --info-main: #29b6f6;
  --info-dark: #0fa3e8;
  --info-text: #fafafa;
  --success-light: #9DD89F;
  --success-main: #66bb6a;
  --success-dark: #46A14B;
  --success-text: #fafafa;
  --light-light: #dfdfdf;
  --light-main: #d1d1d1;
  --light-dark: #adadad;
  --light-text: #121212;
  --dark-light: #5d5d5d;
  --dark-main: #4f4f4f;
  --dark-dark: #454545;
  --dark-text: #fafafa;
  --white: #fff;
  --black: #000;
  --body-bg: #121212;
  --body-color: #fafafa;
  --link-light: #3b76f6;
  --link-main: #2563eb;
  --link-dark: #1d58d8;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  min-width: 100vw;
  min-height: 100vh;
}