.project-card {
  align-items: center;
  border: 0.125rem solid var(--dark-main);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-height: 2.5rem;
  padding: 0.5rem;
  width: 100%;
}

.project-card__link {
  color: var(--body-color);
  display: block;
  width: 100%;
}

.project-card__link:hover {
  color: var(--body-color);
}

.project-card__link:active {
  color: var(--body-color);
}

.project-card__title {
  font-size: 1rem;
  font-weight: 400;
}

.project-card__button--option {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
}

.modal__body {
  align-items: center;
  display: flex;
}

.text-field {
  width: 100%;
}

.message {
  color: var(--error-main);
  margin-top: 0.5rem;
}


.message--hidden {
  display: none;
}

.modal__footer {
  display: flex;
  gap: 1rem;
}

.modal__cancel-button {
  width: 100%;
}

.modal__submit-button {
  width: 100%;
}