.modal {
  background-color: var(--dark-dark);
  border: 0.0625rem solid var(--dark-main);
  border-radius: 0.5rem;
  left: 50%;
  min-height: 2rem;
  position: fixed;
  top: 1rem;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 30;
}

.modal--hidden {
  display: none;
}

.modal__header {}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 2rem;
  padding: 1rem;
  width: 100%;
}

.header__content {
  box-sizing: border-box;
  width: 100%;
}

.header__close-button {
  background-color: transparent;
  border: 0;
}

.modal__body {
  box-sizing: border-box;
  min-height: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.modal__footer {
  box-sizing: border-box;
  min-height: 2rem;
  padding: 1rem;
  width: 100%;
}

.modal__overlay {
  background-color: rgba(18, 18, 18, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modal__overlay--hidden {
  display: none;
}