.profile__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 9999px;
  display: flex;
  grid-area: profile__button;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.profile__icon {
  border-radius: 9999px;
}

.modal__body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile__icon--open {
  border-radius: 9999px;
  margin-bottom: 1.5rem;
}

.user__name {
  margin-bottom: 0.5rem;
}

.modal__button--sign-out {
  width: 100%;
}