.appbar {
    height: var(--appbar-height);
    background-color: var(--color-background);
    box-shadow: 0 -0.0625rem 0 var(--color-border) inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
