.base-button {
    border: none;
    background-color: transparent;
    font: 1rem var(--font-inter);
    color: var(--color-primary-main);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .base-button {
        cursor: pointer;
    }
}
