.button {
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--color-primary-main);
    color: var(--color-text-dark);
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--color-primary-hover);
}

.button-primary {
    background-color: var(--color-primary-main);
    color: var(--color-text-dark);
}

.button-primary:hover {
    background-color: var(--color-primary-hover);
}

.button-secondary {
    background-color: var(--color-secondary-main);
    color: var(--color-text-light);
    box-shadow: 0 0 0 0.0625rem var(--color-border) inset;
}

.button-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.button-danger {
    background-color: var(--color-danger-main);
    color: var(--color-text-light);
}

.button-danger:hover {
    background-color: var(--color-danger-hover);
}

.button:disabled,
.button:disabled:hover {
    background-color: var(--color-disabled);
    color: var(--color-text-light);
    box-shadow: none;
    opacity: 0.5;
}

.button-content {
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button-loading .button-content {
    opacity: 0;
    visibility: hidden;
}

.button-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    animation: spin 0.5s infinite linear;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button-loading .button-spinner {
    opacity: 1;
    visibility: visible;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
