.brand-text {
    font-family: var(--font-poppins);
    color: var(--color-primary-main);
}

.icon-button {
    display: inline-block;
    line-height: 0;
}

.content {
    height: calc(100% - var(--appbar-height));
}

.main {
    width: 100%;
    overflow-y: auto;
}
