* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    --color-primary-main: #F6F6F6;
    --color-primary-hover: #D1D1D1;
    --color-secondary-main: #121212;
    --color-secondary-hover: #2A2A2A;
    --color-danger-main: #ED2839;
    --color-danger-hover: #FE3546;
    --color-background: #121212;
    --color-border: #3D3D3D;
    --color-disabled: #3D3D3D;
    --color-text-light: #F6F6F6;
    --color-text-dark: #121212;
    --color-link: #1EA3FF;
    --color-link-hover: #0070FF;
    --appbar-height: 3.5rem;
    --desktop-navbar-width: 20rem;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text-light);
    font-family: var(--font-inter);
}
