.input-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label {
    align-self: flex-start;
}

.input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-background);
    box-shadow: 0 0 0 0.0625rem var(--color-border) inset;
    color: var(--color-text-light);
    font-size: 1rem;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 0.0625rem var(--color-primary-main) inset;
}
