.icon-button,
.brand-link {
    display: inline-block;
    line-height: 0;
}

.mobile-navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--color-background);
    transition: left 0.2s ease-in-out;
}

.mobile-navbar.show {
    left: 0;
}

.navbar-menu {
    height: calc(100% - var(--appbar-height));
}

@media (min-width: 768px) {
    .navbar-toggle,
    .mobile-navbar {
        display: none;
    }
}
