.navbar-menu {
    overflow-y: auto;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
}

.navbar-item {
    display: block;
    list-style-type: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

.navbar-item:hover {
    background-color: var(--color-secondary-hover);
}

.navbar-item.active {
    background-color: var(--color-primary-main);
}

.navbar-item.active:hover {
    background-color: var(--color-primary-hover);
}

.navbar-link {
    color: var(--color-text-light);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.navbar-item.active .navbar-link {
    color: var(--color-text-dark);
}

.navbar-link:hover {
    color: var(--color-text-light);
}
