.project-card {
    position: relative;
}

.project-card-link {
    padding: 1rem;
    background-color: var(--color-background);
    box-shadow: 0 0 0 0.0625rem var(--color-border) inset;
    border-radius: 0.5rem;
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card-link:hover {
    color: var(--color-text-light);
}

.project-option-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
