.project-card {
    padding: 1rem;
    background-color: var(--color-background);
    box-shadow: 0 0 0 0.0625rem var(--color-border) inset;
    border-radius: 0.5rem;
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card:hover {
    color: var(--color-text-light);
}

.project-card-header {
    display: flex;
    justify-content: space-between;
}
