.modal {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 13.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-button {
    padding: 0.5rem;
    border-bottom: 0.0625rem solid var(--color-border);
}

.option-button:last-child {
    border-bottom: none;
}

.option-button-danger {
    color: var(--color-danger-main);
}
