.toast {
    width: calc(100% - 2rem);
    padding: 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-background);
    box-shadow: 0 0 0 0.0625rem var(--color-border) inset;
    border-radius: 0.5rem;
}

.toast-content {
    width: 100%;
}

.icon-button {
    display: flex;
}

@media (min-width: 768px) {
    .toast {
        width: var(--desktop-toast-width);
        top: unset;
        left: unset;
        bottom: 1rem;
        right: 1rem;
    }
}
