.text-field {
  background-color: var(--body-color);
  border: 2px solid var(--dark-main);
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  outline: 0;
  padding: 0 8px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.text-field:focus {
  border: 2px solid var(--dark-light);
}

.text-field:disabled {
  background-color: var(--dark-light);
  opacity: 0.8;
}

.text-field.primary:focus {
  border: 2px solid var(--primary-main);
}

.text-field.secondary:focus {
  border: 2px solid var(--secondary-main);
}

.text-field.error:focus {
  border: 2px solid var(--error-main);
}

.text-field.warning:focus {
  border: 2px solid var(--warning-main);
}

.text-field.info:focus {
  border: 2px solid var(--info-main);
}

.text-field.success:focus {
  border: 2px solid var(--success-main);
}

.text-field.light:focus {
  border: 2px solid var(--light-main);
}

.text-field.dark:focus {
  border: 2px solid var(--dark-main);
}